{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" content="height=device-height">
    <title>Восстановление</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static 'Avito/css/reset.css' %}" rel="stylesheet">
    <script src="{% static 'Avito/js/Reset.js' %}"></script>
</head>
<body>
<div class="block">
    <form action="">
{% block content %}
<h1>Восстановите пароль</h1>
<p>Мы отправили вам на почту инструкции для восстановления пароля.</p>
<p>Если вы не получили письмо проверьте корректность введеных данных или проверьте папку "Спам".</p>
{% endblock %}
         </form>
</div>
</body>
</html>