{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" content="height=device-height">
    <title>Успех</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static 'Avito/css/tforgot.css' %}" rel="stylesheet">
    <script src="{% static 'Avito/js/Forgot.js' %}"></script>
</head>
<body>
<div  class="block">
    <form  action="." method="post">
        <p class="in">Успех</p>
        <p class="text">Вы успешно сменили пароль</p>
        <input class="ssuubmit" style="color: #000" onclick="window.location.href = '/signin'" type="button">Войти</input>

    </form>
</div>
</body>
</html>