{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" content="height=device-height">
    <title>Восстановление</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static 'Avito/css/tforgot.css' %}" rel="stylesheet">
    <script src="{% static 'Avito/js/Forgot.js' %}"></script>
</head>
<body>
<div  class="block">
    <form  action="." method="post">
        <p class="in">Восстановление пароля</p>
        <!--<p class="Text">Введите email</p>
        <p><input class="inp" id="send1" type="text"></p>
        <p><strong><input onclick="send()" id="button1" class="reset" type="button" value="Отправить код"></strong></p>
        <p class="Text">Введите код из сообщения</p>
        <p><input class="inp" id="code" type="text"></p>
        <p><strong><input onclick="reset()" class="reset" type="submit" value="Восстановить"></strong></p>-->


        {% csrf_token %}
        <p class="Text">Введите email</p>
        {{form.as_p}}
        <button class="ssuubmit" type="submit">Отправить</button>

    </form>
</div>
</body>
</html>