{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" content="height=device-height">
    <title>Восстановление</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static 'Avito/css/reset.css' %}" rel="stylesheet">
    <script src="{% static 'Avito/js/Reset.js' %}"></script>
</head>
<body>
<div class="block">
    <form action="" method="post">
        {% csrf_token %}
        <p class="in">Восстановление</p>
        <p class="Text">Введите новый пароль</p>
        {{form.new_password1}}
        <p class="Text">Повторите пароль</p>
        {{form.new_password2}}
        {{form.new_password1.errors}}
        {{form.new_password2.errors}}
        <p><strong><button class="reset" type="submit">Восстановить</button></strong></p>
    </form>
</div>
</body>
</html>