{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" content="height=device-height">
    <title>Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static '/Avito/css/signup.css' %}" rel="stylesheet">
    <script src="{% static 'Avito/js/signUp.js' %}"></script>

</head>
<body>
<div class="block">
    <form method="post">
        {% csrf_token %}

        <p class="in">Регистрация</p>
        {% for f in form %}
        <p><p class="text" for="{{ f.id_for_label }}">{{f.label}} </p>{{f}}</p>
        <div class="eerror">{{ f.errors }}</div>
        {% endfor %}

        <button class="submit" type="submit">Регистрация</button>
        <p>Уже есть аккаунт? <a href="/signin" style="font-weight: bold">Войти</a> </p>
</form>
</div>

</body>
</html>