{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Студенческая доска объявлений</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="{% static 'Avito/css/detail.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'Avito/js/Tdetail.js' %}"></script>
    </head>
    <body>
        <header class="header">
            <img id="img" src="{% static 'Avito/imgs/Ellipse_1.png' %}" alt="profile image" onclick="goToSign()">
            {% if request.user.is_authenticated %}
            <span id="profile"><a class="prof_txt" href="{% url 'profile' %}">Профиль</a> </span>
            {% else %}
            <span><a class="prof_txt" href="{% url 'signin' %}">Профиль</a> </span>
            {% endif %}

            <span class="search">
                <form action="{% url 'search_results' %}" method="get">
                    <input name="q" id= "sr_txt" type="text" placeholder="Поиск...">
                </form>
                <img id="search_img" src="{% static 'Avito/imgs/Vector.png' %}" alt="search image">
            </span>
        </header>
        <div id="main_center">
            {% block content %}
            <H1 class="title">{{ad.name}}</H1>
            <div id="img_and_contacts">
                <div id="imgGallery">
                    <img id="image_in_gallery" src="{{ad.image}}">
                </div>
                <div id="contacts">
                    <div id="contacts_dsc">
                        <div class="txt_cont">{{ad.price}} pуб.</div>
                        <div class="txt_cont">{{ad.seller}}</div>
                        <div id="dv">
                            <img src="{% static 'Avito/imgs/map.png' %}" display="table-cell">
                            <span id="map_txt">{{ad.place}}</span>
                        </div>
                    </div>
                    <div id="show" onclick="Contacts()">
                        <span id="show_txt" onclick="Contacts()">Связаться с продавцом</span>
                    </div>
                </div>
            </div>
            <H1 id="title_dsc">Описание товара</H1>
            <div id="description">
                <span id="description_txt">{{ad.desc}}</span>
            </div>
                {% endblock%}
        </div>
    </body>
</html>