{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" content="height=device-height">
    <title>Профиль</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static 'Avito/css/tprof.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'Avito/js/Proff.js' %}"></script>
</head>
<body>
<div class="theblock">
    <form id="form">
        {% if request.user.is_authenticated %}
        <p class="in">{{user.username}}</p>
        {% endif %}
        <p class="Text">Email</p>
        <p><input class="inp" type="text"  style="color:#000; margin-bottom: 60px" value="{{user.email}}" disabled></p>
        <p class="Text">Телефон</p>
        <p><input class="inp" type="text"  style="color:#000; margin-bottom: 60px" value="{{user.first_name}}" disabled></p>
    <strong><input onclick="CreateNote()" class="ssubmit" type="button" value="Создать объявление"></input></strong>
        <strong><input onclick="Thereturn()" class="ssubmit" style="margin-bottom: 50px" type="button" value="Вернуться"></input></strong>

        {% if request.user.is_authenticated %}
       <strong><p><a class="submit"  href="{% url 'logout' %}">Выйти</a> </p></strong>
        {% endif %}
    </form>
</div>
</body>
</html>