{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавить объявление</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static 'Avito/css/tadd.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'Avito/js/add.js' %}"></script>
</head>
<body>
<header class="header">
    <img id="img" src="{% static 'Avito/imgs/Ellipse_1.png' %}" alt="profile image" onclick="goToSign()">
    {% if request.user.is_authenticated %}
    <span id="profile"><a class="prof_txt" href="{% url 'profile' %}">Профиль</a> </span>
    {% else %}
    <span><a class="prof_txt" href="{% url 'signin' %}">Профиль</a> </span>
    {% endif %}

    <span class="search">
        <form action="{% url 'search_results' %}" method="get">
            <input name="q" id= "sr_txt" type="text" placeholder="Поиск...">
        </form>
        <img id="search_img" src="{% static 'Avito/imgs/Vector.png' %}" alt="search image">
    </span>
</header>
<div class="add_info">
    <div class="block">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="in">Разместить объявление</p>
            {% for f in form %}
            <p><p class="text" for="{{ f.id_for_label }}">{{f.label}} </p>{{f}}</p>
            <div class="eerror">{{ f.errors }}</div>
            {% endfor %}

            <button class="submit" type="submit">Разместить объявление</button>
        </form>
<!--            <div>-->
<!--                <h1>Разместить объявление</h1>-->
<!--            </div>-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <label for="title">Название</label>-->
<!--                    <input type="text" id="title" name="ad_title">-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label for="price">Цена</label>-->
<!--                    <input type="number" id="price" name="ad_price">-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label for="location">Местоположение</label>-->
<!--                    <input type="text" id="location" name="ad_location">-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label for="description">Описание</label>-->
<!--                    <textarea id="description" name="ad_description"></textarea>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <h4>Фото</h4>-->
<!--                    <label for="photosInput" id="photo_button">Выбрать фото</label>-->
<!--                    <input type="file" id="photosInput" name="ad_photos" accept=".jpg, .jpeg, .png" multiple>-->
<!--                    <div class="preview">-->
<!--                        <p>Пока не выбрано ни одного фото</p>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <input type="submit" id="submit" value="Разместить объявление">-->
<!--                </li>-->
<!--            </ul>-->
        </form>
    </div>
</div>
</body>
</html>