{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавить объявление</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static 'Avito/css/tadd.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'Avito/js/add.js' %}"></script>
</head>
<body>
<header class="header">
    <img id="img" src="{% static 'Avito/imgs/Ellipse_1.png' %}" alt="profile image" onclick="goToSign()">
    {% if request.user.is_authenticated %}
    <span id="profile"><a class="prof_txt" href="{% url 'profile' %}">Профиль</a> </span>
    {% else %}
    <span><a class="prof_txt" href="{% url 'signin' %}">Профиль</a> </span>
    {% endif %}

    <span class="search">
        <form id="search_form" action="{% url 'search_results' %}" method="get">
            <input name="q" id= "sr_txt" type="text" placeholder="Поиск...">
        </form>
<!--        <img id="search_img" src="{% static 'Avito/imgs/Vector.png' %}" alt="search image">-->
    </span>
</header>
<div class="title_main">
    <div class="block">
        <form id="main_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="in">Разместить объявление</p>
            {% for f in form %}
            <p><p class="text" for="{{ f.id_for_label }}">{{f.label}} </p>{{f}}</p>
            <div class="eerror">{{ f.errors }}</div>
            {% endfor %}

            <button class="submit" type="submit" onclick="Thereturn()">Разместить объявление</button>
        </form>
    </div>
</div>
</body>
</html>