{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Студенческая доска объявлений</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static 'Avito/css/main.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'Avito/js/main.js' %}"></script>
</head>
<body>
<header class="header">
    <img id="img" src="{% static 'Avito/imgs/Ellipse_1.png' %}" alt="profile image" onclick="goToSign()">
    {% if request.user.is_authenticated %}
       <span id="profile"><a href="{% url 'profile' %}">Профиль</a> </span>
    {% else %}
    <span><a href="{% url 'signin' %}">Профиль</a> </span>
        {% endif %}

    <span class="search">
        <form action="{% url 'search_results' %}" method="get">
            <input name="q" id= "sr_txt" type="text" placeholder="Search...">
        </form>
        <img id="search_img" src="{% static 'Avito/imgs/Vector.png' %}" alt="search image">
    </span>
</header>
<H2 id="title_main" >Доска объявлений для общежитий</H2>
<div id="main_list">
{% block content %}
    <table>
        <tr>
            {% if Ad_list %}
            {% for Ad in Ad_list %}
            {% if Ad.id != 4 and Ad.id != 7 and Ad.id != 10 %}
            <th onclick="Detail({{Ad.id}})"><img class="image" src="{{Ad.image}}" alt="no photo">
                <div class="name">{{ Ad.name }}</div>
                <div class="price">{{ Ad.price }}</div>
            </th>
            {% endif %}
            {% if Ad.id == 4 or Ad.id == 7 or Ad.id == 10 %}

            </tr>
            <tr>
                <th class="staf" onclick="Detail({{Ad.id}})"><img class="image" src="{{Ad.image}}" alt="no photo">
                    <div class="name">{{ Ad.name }}</div>
                    <div class="price">{{ Ad.price }}</div>
                </th>
            {% endif %}
            {% endfor %}
            {% endif %}
        </tr>
    </table>
{% endblock%}
</div>
</body>
</html>